body p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.bg-main {
    background-color: #253dc0;
    width: 100%;
    height: auto;
}

.content-box {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
}

.content-box i {
    color: #fff;
}

.m-radius {
    -webkit-border-top-left-radius: 24px;
    -webkit-border-top-right-radius: 24px;
    -moz-border-radius-topleft: 24px;
    -moz-border-radius-topright: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.main-content {
    background: #fff;
    /* border-radius: 16px; */
    padding: 25px;
}

.accept {
    border-radius: 6px;
    /* text-align: center; */
    display: flex;
    justify-content: center;

    /* color: #253DC0; */
    background: #253DC0;
    padding: 8px 40px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background: #253DC0;
    border-color: #005cbf;
}
.media-sec h5 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 95%;
    color: black;
    margin-bottom: 0px;
}

.media-sec-p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 85%;
    color: #253dc0;
}

.med-p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 80%;
    color: #253dc0;
}

.icon-c {
    color: #f7a212;
}

.icon-r {
    color: #FF0707;
}

.icon-g {
    color: #229207;
}

.icon-b {
    color: #1F7DF8;
}

.accept {
    border-radius: 6px;
    /* text-align: center; */
    display: flex;
    justify-content: center;

    /* color: #253DC0; */
    background: #253DC0;
    padding: 8px 40px;
}

.top-btnlist {
    border-radius: 0px;
    font-size: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 15px; */
    color: #000;
    margin: 0px;
    /* position: relative; */
    padding: 8px;
    border: #00000017 solid 1px;

    /* background-color: #E6E6E6; */
}

.top-btnlist :hover {
    background-color: #E6E6E6;
    /* color: #000; */

}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #Efefef;
    color: #777777;
    padding: 10px 35px;
    border-radius: 20px;

}

.screen22tab li a {
    color: #777777;
}

.money-symobol-dropdown {
    border: solid 1px #bdb9b9;
    border-radius: unset;
    padding: 3px 5px;
    /* position: relative; */
    background: #efefef;
    color: #efefef;
    margin: auto 0px;
    height: max-content;
}

.cardprogress {
    display: -ms-flexbox;
    display: flex;
    height: 9px;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.2rem;
}

.cardprogress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #28a745;
    transition: width .6s ease;
}

.display-5 {
    font-size: 35px;
    margin-top: 5px;
    margin-left: 5px;
}

.rupeebtn{
    font-weight: 600;
    border: solid 1px #bdb9b9;
    color: #000;
    padding: 2px 4px;
font-size: 90%;
}
.fs{
    font-size: 90%;
}

.media-sec-s17 h5 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
font-size: 95%;
color: black;
margin-bottom: 0px;
}

.media-sec-s17 p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
font-size: 85%;
color: #253dc0;
}
.active-task-card h4 {
    text-align: left;
font: normal normal bold 19px/26px Segoe UI;
letter-spacing: 0px;
color: #323232;
opacity: 1;
}

.active-task-card .left-sec .a {
    text-align: left;
font: normal normal 600 12px/16px Segoe UI;
letter-spacing: 0px;
color: #323232;
opacity: 0.69;}

.active-task-card .left-sec .b{

    text-align: left;
font: normal normal 600 14px/19px Segoe UI;
letter-spacing: 0px;
color: #323232;
opacity: 0.69;
}
.active-task-card .right-sec .c{
    text-align: left;
font: normal normal 600 16px/21px Segoe UI;
letter-spacing: 0px;
color: #323232;
opacity: 0.69;
}
.act-img {
    border: 1px solid #F3F3F3;
    border-radius: 12px;
}

.br-12{
 border-radius: 23px;
}

.history-task-card h4 {
    text-align: center;
    font: normal normal bold 16px/21px Segoe UI;
    letter-spacing: 0px;
    color: #F79E09;
    opacity: 1;
}
.inner-donate-card{
    background: #F3F3F3 0% 0% no-repeat padding-box;
border-radius: 27px;
opacity: 1;
padding: 15px 50px ;
text-align:center;
font: normal normal 600 14px/19px Segoe UI;
letter-spacing: 0px;
color: #7070707c;
/* opacity: 0.48; */
}
.inner-donate-card h3{
    text-align: center;
font: normal normal bold 25px/33px Segoe UI;
letter-spacing: 0px;
color: #1F8507;
opacity: 1;
}

.inner-donate-card p {
    font: normal normal normal 12px/16px Segoe UI;
    letter-spacing: 0px;
    color: #323232;
    opacity: 0.48;
    margin-top: 5px;
}

.stat-p p{
    text-align: center;
font: normal normal  13px/17px Segoe UI;
font-weight: 600;
letter-spacing: 0px;
color: #3A3A3A;
}
.stat-p p span{
    text-align: center;
    font: normal normal  12px/17px Segoe UI;
    font-weight: 500;
    letter-spacing: 0px;
    color: #3A3A3A;
}

.btn-warn {
    background: #F79E09 0% 0% no-repeat padding-box;
border-radius: 6px;
height: 48px;
opacity: 1;
color: #fff;
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    color: #ffffff;
    background-color: #d39e00;
    border-color: #c69500;
}
.review-task-card h4 {
    text-align: left;
font: normal normal bold 19px/26px Segoe UI;
letter-spacing: 0px;
color: #F79E09;
opacity: 1;
}
.media-s17-text h5{
    text-align: left;
    font: normal normal normal 12px/16px Segoe UI;
    letter-spacing: 0px;
    color: #323232;
    opacity: 1;

}
.media-s17-text p {
    text-align: left;
font: normal normal bold 12px/16px Segoe UI;
letter-spacing: 0px;
color: #253DC0;
opacity: 1;
}

.ft-text{
    text-align: center;
    font: normal normal 600 10px/14px Segoe UI;
letter-spacing: 0px;
color: #323232;
opacity: 1;
}

.sec-18 h3 {
    font: normal normal bold 21px/32px Segoe UI;
letter-spacing: 0px;
color: #323232;
opacity: 1;
}
.sec-18 h6 {
    font: normal normal bold 15px/32px Segoe UI;
letter-spacing: 0px;
color: #323232;
opacity: 1;
}

.sec-18 p {
    font: normal normal normal 14px/23px Segoe UI;
letter-spacing: 0px;
color: #323232;
opacity: 0.66;
}


.money-title span {
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font: normal normal bold 17px/19px Segoe UI;
letter-spacing: 0px;
color: #333846;
}

.cardprogress {
    display: -ms-flexbox;
    display: flex;
    height: 9px;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.2rem;
}

.cardprogress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #28a745;
    transition: width .6s ease;
}
.fs-xs {
    font-size: 85%;
}

.money-donate h3 {
    /* text-align: center; */
    text-align: left;
font: normal normal bold 25px/33px Segoe UI;
letter-spacing: 0px;
color: #1F8507;
opacity: 1;
}

.money-donate p {
    text-align: left;
font: normal normal bold 15px/32px Segoe UI;
letter-spacing: 0px;
color: #323232;
opacity: 0.8;
}

.money-donate h4 {
    text-align: left;
font: normal normal normal 16px/21px Segoe UI;
letter-spacing: 0px;
color: #323232;
opacity: 1;
}